<template name="products">    
    <div class="grid-wrap">
        <div class="grid">
            {{#each productlist}}
                {{> product}}
            {{/each}}	
            
        </div>
    </div>
    <footer>
        <p>2015 My Store</p>
    </footer>
</template>

<template name="product">
    <div class="box" id="{{this._id}}" >
        <div class="row">
            <div class="col-md-3">
                <img src="/images/products/thumbs/{{this.image}}" alt="{{this.name}}">
            </div>
            <div class="col-md-9"> 
                <h2>{{this.name}}</h2>  
                <p>{{this.description}}</p>  
                <p class="price">{{currency this.price}}</p>  
                <input placeholder="Quantity" class="input  prodqty" value="0"/>
                <a class="btn btn-success btn-mini addtocart" href="#">Add</a>
            </div>
        </div>
    </div>
</template>
