@mixin sticky() 
    position: -webkit-sticky
    position: -moz-sticky
    position: -o-sticky 
    position: -ms-sticky 
    position: sticky
@mixin transition($duration)  
    -webkit-transition: $duration
    -moz-transition: $duration
    -ms-transition: $duration
    -o-transition: $duration
    transition: $duration
@mixin transition-delay($duration)  
    -webkit-transition-delay: $duration        
    transition-delay: $duration
@mixin translateX($distance)
    -webkit-transform: translateX($distance)
    -ms-transform: translateX($distance) 
    -o-transform: translateX($distance) 
    transform: translateX($distance)