@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap'
@import '_colors.sass'
@import '_mixins.sass'

h2
    font-size: 1.8em
p
    font-size: 1.2em
body
    color: #606871
    font-weight: 500
    font-size: 1.05em
    font-family: 'Raleway', Arial, sans-serif
    & :after
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba($color-purple, 0.9)
        visibility: hidden
        opacity: 0
        @include transition(0.3s)
body.order_submit
    & :after
        visibility: visible!important  
        opacity: 1!important
header
    height: 200px
    width: 100%
    background: #454242
    text-align: center
    h1
        margin: 0
        line-height: 200px
        color: $color-white
        
$checkout_height: 67px
.checkout_bar
    position: relative
    height: $checkout_height
    background: rgba(181, 183, 188, 0.3)
    @include transition(.3s)
        
.checkout
    position: absolute
    top: 0px
    right: 0px
    z-index: 10
    display: block
    width: $checkout_height
    height: $checkout_height
    text-align: center
    overflow: hidden
    @include transition(.3s)
    .closecart
        position: absolute
        right: -50px
        top: 12px
        z-index: 8999
        @include transition(.5s)
    table
        display: none
        text-align: left
        width: 1px
        visibility: hidden
        opacity: 0
        transition: visibility 0s linear 0.5s,opacity 0.5s linear
        -webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear
        .submit_btn
            float: right
            margin: 10px
            background: $color-green
            border-color: $color-green - 10
            color: white

.checkout-open
    table
        position: absolute
        top: 80px
        left: 60px
        width: 90%
        z-index: 9999
        display: table
        visibility: visible
        opacity: 1
        transition-delay: 0s
        thead
            th
                font-size: 1.8em
                color: $color-red - 40
        tr
            td
                font-size: 1.2em
                color: #fff
                vertical-align: middle
                button
                    font-size: 1em
                    color: $color-black_light
    .checkout_button
        img
            position: absolute
            left: 10px
        span
            left: 40px
            right: auto
            @include transition(.3s)
    .closecart
        rigth: 12px!important
        @include translateX(-60px)

.checkout_button
    position: relative
    z-index: 10
    display: block
    overflow: hidden
    width: 100%
    height: 100%
    cursor: pointer
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1) 0s
    -webkit-transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1) 0s
    backface-visibility: hidden
    background: $color-red
    img
        margin: 10px auto
    span
        position: absolute
        top: 10px
        right: 10px
        min-width: 22px
        padding: 5px
        border-radius: 50%
        background: #454242
        color: $color-white
        @include transition(.5s)
.grid-wrap 
	margin: 50px auto 0
	max-width: 1090px
	width: 100% 
	padding: 0

.grid
    position: relative
    .box 
        width: 340px
        height: 170px
        border: 1px solid $color-purple
        margin: 10px
        display: inline-block
        cursor: pointer
        img
            height: 160px
        .product_info
            position: relative
            height: 142px
            padding: 10px
            display: block
            background: $color-grey_dark
            h2
                color: $color-black_light         
        .price
            font-size: 1.5em
            color: $color-purple
            font-weight: bold
        .prodqty
            padding: 7px
            max-width: 60px
        .btn
            background: $color-purple
            border-color: $color-purple - 20
            
footer
    @extend .checkout_bar
    text-align: center
    margin-top: 50px
    p
        line-height: $checkout_height

.fixed 
    @include sticky
    z-index: 9999
    background: rgba(181, 183, 188, 1)
    top: 0