<template name="AppLayout">
    <div class="container">
        {{> header}}
        <article>
            {{#momentum plugin='iron-router' options=transitionOptions}}
                {{> yield}}
            {{/momentum}}
        </article>
    </div>
</template>

<template name="Store">
    {{> products}}
</template>

<template name="header">
    <header>
        <h1>My Store</h1>
    </header>
        {{> cart}}
</template>



 
