<template name="cart">
    <div class="checkout_bar">
        <div class="checkout">
            
            <a href="#" class="checkout_button">
                <img src="/images/cart.png" alt="">
                <span>{{cartitems.total_items}}</span>
            </a>
            
            <button class="btn closecart">X</button>

            <table class="table ">
                <thead>
                    <th>Qty</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th></th> 
                    <th></th>
                </thead>
                <tbody>
                    {{#each cartitems}}
                        <tr>
                            <td><button class="btn plus" id="{{_id}}">+</button> {{qty}} <button class="btn minus">-</button></td>
                            <td>{{productname}}</td>
                            <td>{{currency price}}</td>
                            <td><button class="btn removeci">X</button></td>
                        </tr>
                    {{else}}
                        <tr>
                            <td colspan="3">No Products in Cart</td>
                        </tr>
                    {{/each}}
                    <tr>
                        <td class="totalcol" colspan="2">Total:</td>
                        <td colspan="2">{{currency cartitems.total}}</td>
                    </tr>
                    <tr>
                        <td class="totalcol" colspan="2"></td>
                        <td colspan="2"> <button class="btn submit_btn">Submit the order</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  
</template>