<template name="confirmation">
    <h1>Your order info</h1>
   <table class="table ">
                <thead>
                    <th>Qty</th>
                    <th>Product</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    {{#each order_info}}
                        <tr>
                            <td> {{qty}}</td>
                            <td>{{productname}}</td>
                            <td>{{currency price}}</td>
                           
                        </tr>
                    {{else}}
                        <tr>
                            <td colspan="3">No Products in Cart</td>
                        </tr>
                    {{/each}}
                    <tr>
                        <td class="totalcol" colspan="2">Total:</td>
                        <td colspan="2">{{currency order_info.total}}</td>
                    </tr>
                 
                </tbody>
    </table>
</template>